

/*header style*/
#about-header{
	background-image: url("../images/image1.jpg");
	min-height: 200px;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	h2, p{
		color: #fff;
	}
	p{
		line-height: 15px;
	}
	
}


/*info style*/
#about-info{
	img{
		width: 350px;
		height: 350px;
	}
}


/*portfolio style*/
#about-portfolio{
	.fa{
		font-size: 50px;
		margin-bottom: 20px;
	}
	h3{
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}
	p{
		margin-top: 0px;
	}
}




/*testimonials style*/
#testimonials-section{
	.slick-prev::before,
	.slick-next::before{
		color: #000;
	}
}


