

/*Contact header style*/
#contact-header{
	background-image: url("../images/image2.jpg");
	min-height: 200px;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	h2, p{
		color: #fff;
	}
	p{
		line-height: 15px;
	}
	
}