.event-event1 {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.event-event-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-text {
  color: rgb(247, 247, 247);
}
.event-text1 {
  color: rgb(247, 247, 247);
}
.event-text2 {
  color: rgb(247, 247, 247);
  align-self: flex-start;
  margin-left: var(--dl-space-space-twounits);
}





@media(max-width: 479px) {
  .event-text {
    font-size: 16px;
  }
  .event-text1 {
    font-size: 16px;
  }
  .event-text2 {
    font-size: 16px;
  }
}
