<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-main">
      <h1 class="footer-text">Contact Me</h1>
      <div class="footer-contact">
        <div class="footer-email">
          <span class="footer-text01">
            <span>By E-mail:</span>
            <br />
          </span>
          <span class="footer-text04">
            <span>stiephen.pradal[at]nottingham.ac.uk</span>
            <br />
          </span>
        </div>
        <div class="footer-address">
          <span class="footer-text07">
            <span>At the office:</span>
            <br />
          </span>
          <span class="footer-text10">
            <span>Room C43,  Desk 6,</span>
            <br />
            <span>School of Computer Science</span>
            <br />
            <span>The University of Nottingham, Jubilee Campus</span>
            <br />
            <span>Nottingham, NG7 1BB</span>
            <br />
            <span>United-Kingdom</span>
            <br />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
