.header-accordion-container {
  width: 1591px;
  height: 68px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.header-accordion-thq-dropdown {
  width: auto;
  cursor: pointer;
  height: 100%;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-accordion-dropdown-toggle {
  fill: #595959;
  color: #ffffff;
  width: 327px;
  height: 100%;
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.header-accordion-dropdown-arrow {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  transition: 0.3s;
}
.header-accordion-icon {
  fill: #ffffff;
  width: 24px;
  height: 65px;
}
.header-accordion-dropdown-list {
  top: 10px;
  left: 327px;
  width: 1039px;
  bottom: 10px;
  height: 44px;
  display: none;
  z-index: 100;
  position: absolute;
  max-width: auto;
  min-width: auto;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  list-style-type: none;
  list-style-position: inside;
}
.header-accordion-dropdown {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-color: #ffffff;
  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.header-accordion-dropdown:hover {
  filter: blur(1px);
  transform: translateY(-2px);
}
.header-accordion-dropdown-toggle1 {
  fill: #595959;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.header-accordion-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.header-accordion-text06 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Oxygen;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}
.header-accordion-dropdown1 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s;
  border-color: #ffffff;
  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.header-accordion-dropdown1:hover {
  filter: blur(1px);
  transform: translateY(-2px);
}
.header-accordion-dropdown-toggle2 {
  fill: #595959;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.header-accordion-image1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.header-accordion-text07 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Oxygen;
  font-weight: 500;
  padding-left: var(--dl-space-space-halfunit);
}
.header-accordion-dropdown2 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-color: #ffffff;
  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.header-accordion-dropdown2:hover {
  filter: blur(1px);
  transform: translateY(-2px);
}
.header-accordion-dropdown-toggle3 {
  fill: #595959;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.header-accordion-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.header-accordion-text08 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Oxygen;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}
.header-accordion-dropdown3 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-color: #ffffff;
  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.header-accordion-dropdown3:hover {
  filter: blur(1px);
  transform: translateY(-2px);
}
.header-accordion-dropdown-toggle4 {
  fill: #595959;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.header-accordion-icon4 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.header-accordion-text09 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Oxygen;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}
.header-accordion-dropdown4 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-color: #ffffff;
  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.header-accordion-dropdown4:hover {
  filter: blur(1px);
  transform: translateY(-2px);
}
.header-accordion-dropdown-toggle5 {
  fill: #595959;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.header-accordion-icon6 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.header-accordion-text12 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Oxygen;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}

.header-accordion-root-class-name1 {
  width: auto;
  height: auto;
}


@media(max-width: 1200px) {
  .header-accordion-dropdown-list {
    width: 870px;
  }
}
@media(max-width: 991px) {
  .header-accordion-container {
    width: 985px;
  }
  .header-accordion-dropdown-toggle {
    align-items: center;
    justify-content: center;
  }
  .header-accordion-dropdown-list {
    width: 605px;
    height: auto;
  }
  .header-accordion-text06 {
    font-size: 12px;
  }
  .header-accordion-text07 {
    font-size: 12px;
  }
  .header-accordion-dropdown-toggle3 {
    width: 100%;
  }
  .header-accordion-text08 {
    width: 100%;
    height: auto;
    font-size: 12px;
  }
  .header-accordion-text09 {
    font-size: 12px;
  }
  .header-accordion-dropdown-toggle5 {
    width: 100%;
  }
  .header-accordion-text12 {
    font-size: 12px;
  }
}
@media(max-width: 767px) {
  .header-accordion-container {
    align-items: center;
    justify-content: center;
  }
  .header-accordion-thq-dropdown {
    align-self: center;
  }
  .header-accordion-dropdown-toggle {
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .header-accordion-dropdown-list {
    top: var(--dl-space-space-fourunits);
    left: 0%;
    width: 100%;
    bottom: bottom;
    height: auto;
    z-index: 1000;
    position: static;
    flex-direction: column;
  }
  .header-accordion-dropdown {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .header-accordion-dropdown-toggle1 {
    background-color: #000000;
  }
  .header-accordion-dropdown1 {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .header-accordion-dropdown-toggle2 {
    background-color: #000000;
  }
  .header-accordion-dropdown2 {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .header-accordion-dropdown-toggle3 {
    background-color: #000000;
  }
  .header-accordion-text08 {
    width: auto;
    text-align: left;
  }
  .header-accordion-dropdown3 {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .header-accordion-dropdown-toggle4 {
    background-color: #000000;
  }
  .header-accordion-dropdown4 {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .header-accordion-dropdown-toggle5 {
    background-color: #000000;
  }
}
@media(max-width: 479px) {
  .header-accordion-container {
    height: 101px;
  }
  .header-accordion-dropdown-toggle {
    width: auto;
    height: 100%;
    z-index: 10000;
    align-items: center;
    justify-content: center;
  }
  .header-accordion-dropdown-arrow {
    height: auto;
    position: static;
  }
  .header-accordion-icon {
    width: var(--dl-size-size-xsmall);
    height: 38px;
  }
  .header-accordion-dropdown-list {
    width: 100%;
    height: auto;
    z-index: 1000;
    position: static;
  }
  .header-accordion-dropdown {
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown-toggle1 {
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown1 {
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown-toggle2 {
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown2 {
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown-toggle3 {
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown3 {
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown-toggle4 {
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown4 {
    border-bottom-width: 0px;
  }
  .header-accordion-dropdown-toggle5 {
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .header-accordion-root-class-name2 {
    width: 100%;
    height: auto;
  }
}
