<div>
  <link href="./nav-button.css" rel="stylesheet" />
  <div class="nav-button-container navbar">
    <div class="nav-button-btn-nav-bar">
      <div class="nav-button-home-env">
        <a href="home.html" class="nav-button-navlink">
          <div class="button-container button-root-class-name5">
            <button class="button-button button"><span>Home</span></button>
          </div>
        </a>
      </div>
      <div class="nav-button-research-env">
        <a href="research.html" class="nav-button-navlink01">
          <div class="button-container button-root-class-name11">
            <button class="button-button button"><span>Research</span></button>
          </div>
        </a>
      </div>
      <div class="nav-button-teaching-env">
        <a href="teaching.html" class="nav-button-navlink02">
          <div class="button-container button-root-class-name3">
            <button class="button-button button"><span>Teaching</span></button>
          </div>
        </a>
      </div>
      <div class="nav-button-miscellaneous-env">
        <a href="miscellaneous.html" class="nav-button-navlink03">
          <div class="button-container button-root-class-name4">
            <button class="button-button button">
              <span>Miscellaneous</span>
            </button>
          </div>
        </a>
      </div>
      <div class="nav-button-c-v-env">
        <a href="c-v.html" class="nav-button-navlink04">
          <div class="button-container button-root-class-name10">
            <button class="button-button button"><span>CV</span></button>
          </div>
        </a>
      </div>
      <div class="nav-button-blank-nav-bar"></div>
    </div>
    <div data-thq="thq-dropdown" class="nav-button-thq-dropdown list-item">
      <div data-thq="thq-dropdown-toggle" class="nav-button-dropdown-toggle">
        <div data-thq="thq-dropdown-arrow" class="nav-button-dropdown-arrow">
          <svg viewBox="0 0 1024 1024" class="nav-button-icon">
            <path
              d="M64 192h896v192h-896zM64 448h896v192h-896zM64 704h896v192h-896z"
            ></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="nav-button-dropdown-list">
        <li data-thq="thq-dropdown" class="nav-button-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="nav-button-dropdown-toggle1"
          >
            <a href="home.html">
              <div class="button-container button-root-class-name7">
                <button class="button-button button"><span>Home</span></button>
              </div>
            </a>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="nav-button-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="nav-button-dropdown-toggle2"
          >
            <a href="research.html">
              <div class="button-container button-root-class-name6">
                <button class="button-button button">
                  <span>Research</span>
                </button>
              </div>
            </a>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="nav-button-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="nav-button-dropdown-toggle3"
          >
            <a href="teaching.html">
              <div class="button-container button-root-class-name8">
                <button class="button-button button">
                  <span>Teaching</span>
                </button>
              </div>
            </a>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="nav-button-dropdown3 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="nav-button-dropdown-toggle4"
          >
            <a href="miscellaneous.html">
              <div class="button-container button-root-class-name9">
                <button class="button-button button">
                  <span>Miscellaneous</span>
                </button>
              </div>
            </a>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="nav-button-dropdown4 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="nav-button-dropdown-toggle5"
          >
            <a href="c-v.html">
              <div class="button-container button-root-class-name2">
                <button class="button-button button"><span>CV</span></button>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
